#job
  .show-head
    border: 1px solid red
  .show-masthead
    border: 1px solid green
  .wrapper
    border: 1px solid blue
  .footer
    border: 1px solid black
  .descript
    border: 1px solid brown
  .info  
    border: 1px solid silver
